<template name="dnMainArea">
  <div class='pd-mainarea'>
    <h6>Remitimos a Ud. (s) lo siguiente</h6>
    <div class='table'>
      <table>
        <thead>
          <th>
            CANTIDAD
          </th>
          <th>
            DETALLE
          </th>
        </thead>
    <tbody>
      <tr>
        <td>
          9882
        </td>
        <td>
          Dermaseb Locion x 30 ml (308623)
          <p>
            (10 cajas x 900 unidades + 1 caja x 882)
          </p>
        </td>
      </tr>
      <tr>
        <td>
          9882
        </td>
        <td>
          Dermaseb Locion x 30 ml (308623)
          <p>
            (10 cajas x 900 unidades + 1 caja x 882)
          </p>
        </td>
      </tr>
      
    </tbody>

      </table>


    </div>
    <div class='main-area-header'>


    </div>
  </div>
</template>
