<template name="Rel_customer_show">
  {{#if showingOptionButtons}}
    <div class="pull-right">
      <button class="js-edit btn btn-xs btn-default">
      <i class='fa fa-pencil'></i>
      {{_ "Edit"}}
      </button>
    </div>
  {{/if}}
  <div class='row
  {{#if showingOptionButtons}}
    js-hide-option-buttons
  {{else}}
    js-show-option-buttons
  {{/if}}'>
    <div class='col col-xs-2 col-md-1'>
      <h1 class='text-big'>{{rel.category}}</h1>
    </div>
    <div class='col col-xs-10 col-md-5'>
      <p>{{rel.notes}}</p>
    </div>
    <div class='col col-xs-12 col-md-6'>
      <small>
        {{#if rel.paymentDays}}
          <p>
            {{_ "Payment condition is"}} {{rel.paymentDays}} {{_ "days"}}
          </p>
        {{/if}}
        {{#if rel.paymentMethod}}
        <p>
          <i class='fa fa-money'></i>
          {{_ "Payment method is"}} {{rel.paymentMethodName}}
        </p>
        {{/if}}
        {{#if rel.paymentTerms}}
        <p>
          {{_ "Pays with"}} {{rel.paymentTerms}}
        </p>
        {{/if}}
        {{#if rel.paymentNotes}}
          {{rel.paymentNotes}}
        {{/if}}
          {{#if risk rel.payerBehavior "1"}}
          <p>
            {{_ "This customer has a good paying behavior"}}
          </p>
          {{else}}
            {{#if risk rel.payerBehavior "2"}}
              <p>
                {{_ "Be careful, this customer has some problems with payments"}}
              </p>
            {{else}}
              <p>
               <i class="fa fa-exclamation-triangle" style='color:red'></i> {{_ "This customer does not pay well"}}
              </p>
            {{/if}}
          {{/if}}
      </small>

    </div>

  </div>
</template>
