<template name="Car_DECS">
  <h1>car decs</h1>
    {{#if selectedItem}}
    <!-- <h6>selected item : {{selectedItem}}</h6> -->
    <div class="list-item">
    <div class="">
      <button class="js-deselect-item btn btn-primary">
      <i class='fa fa-arrow-left'></i>
        {{_ "Back to search"}}
      </button>
    </div>
  </div>
    <hr>
        {{#if editingItem}}
        <h1>editando</h1>
          {{> Item_motor_edit (editItemArgs selectedItem)}}
        {{else}}
          <button class="btn btn-danger js-delete" id={{selectedItem}}>eliminar</button>
          <button class="btn btn-warning js-edit" id={{selectedItem}}>editar</button>
          <!-- {{> Item_show showthis}} -->
          {{> Item_motor_show (showArgs selectedItem)}}
          <!-- {{> Item_motor_show (showItemArgs selectedItem)}} -->
          <!-- <a href="{{pathFor 'printLabels' paramsLabel}}">print labels</a> -->
        {{/if}}
      <hr>


      <hr>




    {{else}} <!-- //selectedItem -->
      {{#if creatingItem}}
        {{> Item_motor_edit createItemArgs }}

      {{else}}
          <h3>Ingresá la patente</h3>
          {{> Item_search searchItemArgs }}


      {{/if}}
    {{/if}} <!-- //selectedItem -->
</template>
